<div>
  <header class="header">
    <div class="container"><span class="header_title">Editar Produto</span></div>
  </header>

  <div class="container">
      <%= render "form", product: @product %>

      <br>

      <div class="edit_btns_wrapper">
        <%= link_to "Show this product", @product %> |
        <%= link_to "Back to products", products_path %>
    </div>
  </div>
</div>