<div>
  <p style="color: green"><%= notice %></p>

  <header class="header">
    <div class="container"><span class="header_title">Produtos</span></div>
  </header>

  <div class="container">
    <div class="button_wrraper">
      <button class="new_product_btn">
        <%= link_to "New product", new_product_path %>
      </button>
    </div>

    <div id="products" class="product_wrapper">
      <% @products.each do |product| %>
        <div class="product">

          <img class="product_img" src="https://lightwidget.com/wp-content/uploads/localhost-file-not-found.jpg" alt="Imagem do Produto" />

          <div class="product_body">
            <%= render product %>
          </div>

          <button class="show_product_btn">
            <%= link_to "Mais Detalhes", product %>
          </button>
          
        </div>
      <% end %>
    </div>
  </div>

</div>